* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: 'Lobster', cursive;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.1em;
    color: #005C13;
}

h2 {
    font-size: 36px;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.wrap1 {
    background: url(/img/bg1.jpg);
    background-repeat: no-repeat;
    padding-top: 40px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px;
}

.logo {
    width: 180px;
    height: 65px;
}
.menu {
    width: 430px;
    display: flex;
    justify-content: space-between;
}
.menu-element {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #E12B21;
    cursor: pointer;
    list-style-type: none;
}

.menu-element:hover{
    filter: drop-shadow(0px 0.1px 0.1px #E12B21);
    
}
.telephone {
    display: flex;
    align-items: center;
}

.tel{
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.1em;
    color: #E12B21;
    margin-left: 10px;
}
.tel:hover{
    filter: drop-shadow(0px 0.1px 1px #E12B21);
}
.burger{
    display: none;
}

.wrap2 {
    display: flex;
    justify-content: space-between;
}

.h1 {
    max-width: 490px;
}

.offer{
    max-width: 615px;
}

.btn {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    width: 260px;
    height: 50px;
    background-color: #E12B21;
    border-radius: 200px;
    border: none;
    filter: drop-shadow(0px 4px 10px #E12B21);
    cursor: pointer;
    margin-top: 50px;
    border: none;
    outline: none;
}

.btn:hover{
    background: rgba(0,0,0,0);
    color:#E12B21;
    box-shadow: #FF0100;
}


.offer-img{
    filter: drop-shadow(0px 15px 20px rgba(0, 0, 0, 0.25));
    border-radius: 172.5px;
    width: 615px;
    height: 350px;
}

.bullet {
    width: 70px;
    height: 10px;
    background: rgba(196, 196, 196, 0.7);
    border-radius: 65px;
    border: none;
    cursor: pointer;
    outline: none;
}

.bullets {
    margin-left: 200px;
}
.bullet:hover{
    background-color: #8B8B8B;
}
.arrow {
    display: inline;
    position: absolute;
    left: 1350px;
    top: 330px;
    cursor: pointer;
}

.arrow:hover{
    filter: drop-shadow(0px 4px 3px #000);
}

.first{
    background-image: url(/img/lemon.png);
    background-repeat: no-repeat;
    background-position: 0px 40px;
    padding-bottom: 120px;

}

.second {
    background-image: url(/img/strawberry.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.third {
    background-image: url(/img/qiwi.png);
    background-repeat: no-repeat;
    background-position: 500px 300px;
    padding-bottom: 120px;
}

/* 2nd section */

.wrap3 {
    display: flex;
    justify-content: space-between;
    background-image: url(/img/grains.png);
    background-repeat: no-repeat;
    background-position: 360px 320px;
    
}

.about_company {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: rgba(0, 92, 19, 0.71);
    max-width: 510px;
    margin-top: 45px;
}

.inform {
    margin-top: 120px;
}
.h2{
    margin-left: 50px;
}

.about {
    background-image: url(/img/chernika.png);
    background-repeat: no-repeat;
}

.chocolate1{
    background-image: url(/img/chocolate.png);
    background-repeat: no-repeat;
    background-position: right 100px;
}

/* 3rd section */

.why_we {
    background-image: url(/img/фон\ тускло\ желтый\ 2.png);
    background-repeat: no-repeat;
    padding-top: 60px;
}

.cards {
    display: flex;
    margin-top: 60px;
}

.card {
    max-width: 410px;
    margin-right: 20px;
}

.card_number{
    font-family: 'Ropa Sans', sans-serif;
    font-size: 144px;
    color: #E12B21;
    margin-right: 10px;
}

.h2_2 {
    margin-left: 100px;
}

.card_header {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 24px;
    line-height: 29px; 
    color: #E12B21;
    margin-left: 65px;
}

.card_inform {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #005C13;
    padding-bottom: 28px;
}

.wr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quick_cooking {
    margin-right: 0;
    margin-top: 180px;
}

.exquisite_taste {
    margin-top: 120px;
}

.best_products_header{
    margin-left: 57px;
}

.wr1 {
    background-image: url(/img/rasberry21.png);
    background-repeat: no-repeat;
    background-position: 0 120px;
}

.wr2 {
    background-image: url(/img/leaves.png);
    background-repeat: no-repeat;
    background-position: right 230px;
}

/* 4th section */

.catalog {
    background-image: url(/img/фон\ ярко\ желтый.png);
    background-repeat: no-repeat;
    padding-top: 110px;
    padding-bottom: 200px;
}

.h2_3 {
    margin-bottom: 105px;
    text-align: center;
}

.offers {
    display: flex;
}

.product {
    width: 290px;
    height: 400px;
    background-color: #fff;
    border: 1px solid #005C13;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    margin-left: 85px;
    padding: 10px 15px 0px 30px;
    
}

.product_header {
    display: block;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #E12B21;
    text-align: center;
}

.offer_btn{
    margin: 0;
    width: 196px;
    height: 38px;
    font-weight: 800;
    font-size: 18px;
    margin-top: 13px;
    margin-left: 15px;
}
.offer_btn:hover{
    background: rgba(0,0,0,0);
    color:#E12B21;
    box-shadow: #FF0100;
}

.structure {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin-top: 180px;
    margin-left: 10px;
    height: 85px;
}

.chocolate_cake {
    background-image: url(/img/chocolate\ cake.png);
    background-repeat: no-repeat;
    background-position: center 25px;
}

.honey_cake {
    background-image: url(/img/honey\ cake.png);
    background-repeat: no-repeat;
    background-position: center 45px;
}

.red_cake {
    background-image: url(/img/red\ cake.png);
    background-repeat: no-repeat;
    background-position: center 55px;
}

.bullets2 {
    margin-left: 516px;
    margin-top: 65px;
}

.cercle_bullet {
    border-radius: 100%;
    background: rgba(81, 124, 14, 0.5);
    width: 31px;
    height: 31px;
    border-style: none;
    margin-right: 20px;
    cursor: pointer;
    outline: none;
}
.cercle_bullet:hover{
    background-color: #005C13;
}
.arrow2 {
    display: inline;
    position: absolute;
    left: 100px;
    top: 2350px;
    cursor: pointer;
}
.arrow2:hover{
    filter: drop-shadow(0px 1px 1px #005C13);
}
.arrow1 {
    display: inline;
    position: absolute;
    right: 100px;
    top: 2350px;
    cursor: pointer;
}
.arrow1:hover{
    filter: drop-shadow(0px 1px 1px #005C13);
}
.arrow_r{
    display: none;
}
.arrow_l{
    display: none;
}

/* 5th section */

.hot_offer {
    display: flex;

    padding-bottom: 100px;
    align-items: center;
}

.discount {
    text-align: center;
    background-color: #fff;
    width: 600px;
    height: 345px;
    border-radius: 50px;
    border: 1px solid #FFC000;
    box-shadow: 0px 13px 10px #FFE28C;
    padding: 40px 80px 40px 80px;
}

.discount_text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    margin: 35px 0 35px 50px;
    width: 330px;
}

.discount_btn {
    border: 1px solid #005C13;
    box-sizing: border-box;
    border-radius: 161px;
    width: 336px;
    height: 48px;
    background-color: #fff;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: rgba(0, 92, 19, 0.5);
    cursor: pointer; 
    outline: none;
}
.discount_btn:hover {
    border-color: #005C13;
    color: #005C13;
}

.sale {
    background-image: url(/img/низ.png);
    background-repeat: no-repeat;
    padding-bottom: 60px;
}
.wr4 {
    background-image: url(/img/rasberry2.png);
    background-repeat: no-repeat;
    background-position: 850px 80px;
}

.wr5 {
    background-image: url(/img/blackberry.png);
    background-repeat: no-repeat;
    background-position: 320px 150px;
}

.wr6 {
    background-image: url(/img/barries.png);
    background-repeat: no-repeat;
    background-position: -40px -195px;
}

.wr7 {
    background-image: url(/img/pink\ cake.png);
    background-repeat: no-repeat;
    background-position: 1250px 100px;
}

/* 6th section */

.address_contacts {
    display: flex;
    width: 896px;
    height: 647px;
    background: #FFFFFF;
    border: 1px solid #005C13;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 44px 70px 44px 37px;
    margin-left: 150px;
}

.map {
    margin-right: 90px;
}


.h2_4 {
    text-align: center;
}

.tel_num {
    display: flex;
    align-items: center;
    margin: 50px 0;
    
}

.tel2{
    color:#005C13;
}
.tel2:hover{
    color:#005C13;
}
.e-mail {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.e-mail_address {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.1em;
    color: #005C13;
    margin-left: 10px;
}
.address {
    display: flex;
    align-items: center;
}

.address_geo {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #005C13;
    margin-left: 10px;
    
}

.mailing_header {
    display: block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    margin-top: 50px;
    margin-bottom: 25px;
    color: #FF0100;
}

.email_input {
    border: 1px solid #E12B21;
    box-sizing: border-box;
    border-radius: 163px;
    width: 242px;
    height: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgba(225, 43, 33, 0.5);
    padding-left: 20px;
    margin-bottom: 25px;
    outline: none;
}
/* .email_input:hover{
    
} */
.mailing_btn{
    width: 242px;
    height: 40px;
    font-size: 20px;
    margin: 0;
}

.navbar2{
    display: flex;
    margin-top: 85px;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 80px;
}

.footer{
    background-image: url(/img/фон\ foot.png);
    background-repeat: no-repeat;
}

.social_networks {
    margin-right: 20px;
    cursor: pointer;
}

/* img for responsive */
.berries1{
    display: none;
}
.chocolate2{
    display: none;
}
.lemons{
    display: none;
}
.red{
    display: none;
}
.lime{
    display: none;
}
.strawberry2{
    display: none;
}
.lemons2{
    display: none;
}
/* call to order */
.call_wrap{
    top: -1000%;
    z-index: 2;
    overflow: auto;
    position: fixed;
    padding-bottom: 1200px;
    padding-top: 150px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: block;
    
}
.call_me{
    z-index: 3;
    top: 2300px;
    margin: 0 auto;
    width: 600px;
    height: 345px;
    background: #FFFFFF;
    border: 1px solid #000;
    border-radius: 50px;
    display: block;
    text-align: center;
    padding: auto;
}
.call-to-order{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    margin: 25px 0px 50px 0px;
}
.tel-for-call{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 24px;
    color: #FFC000;
    border: 2px solid #FFC000;
    border-radius: 50px;
    padding: 16px 30px;
}
.close{
    position: absolute;
    right: 2%;
    top: 2%;
    z-index: 10;
    cursor: pointer;
}
.close:hover{
     filter: drop-shadow(0px 2px 4px #fff);
}

.check_mark{
    margin-top: 40px;
}
.call_wrap.current{
    top: 0;
}

/* responsive */

/* 962-1200 */
@media screen and (max-width: 1200px) {
    .wrapper{
        width: 95%;
    } 
    .first {
        background-image: none;
    }
    .second {
        background-image: none;
    }
    .third {
         background-image: none;
    }
    .arrow{
        left: 95%;
        top: 290px;
        width: 30px;
        height: 60px;
    }
    .bullet {
        width: 50px;
        margin-right: 10px;
    }
    .offer-img {
        width: 90%;
        height: 90%;
    }
    .bullets {
        margin-left: 150px;
    }
    p {
        font-size: 14px;
    }
    .logo {
        width: 150px;
        height: 55px;
    }
    .menu{
        width: 400px;
        font-size: 14px;
    }
    .menu-element{
        font-size: 16px;
    }
    .telephone {
        width: 180px;
    }
    .tel {
        font-size: 16px;
    }
    .phone {
        width: 23px;
        height: 23px;
    }
    .btn {
        font-size: 18px;
         width: 240px;
         height: 40px;
         margin-top: 40px;   
    }
    h1{
        font-size: 40px;
    }

    /* -------------------- */

    .wrap3{
        background-image: none;
    }
    .about{
        background-image: none;
    }
    .chocolate1{
        background-image: none;
    }
    .ant_hill_cake{
        width: 95%;
        height: 90%;
    }
    .inform {
        margin-top: 30px;
    }
    .about_company {
        font-size: 16px;
        line-height: 20px;
        color: rgba(0, 92, 19, 0.71);
        max-width: 510px;
        margin-top: 30px;
    }

    /* --------------------- */

    .wr1 {
        background-image: none;
    }

    .wr2 {
        background-image: none;
    }

    .card_header {
        font-size: 20px;
        margin-left: 56px;
    }

    .card_inform{
        font-size: 16px;
        line-height: 24px;
        color: #005C13;
        padding-bottom: 10px;
    }

    .card_number {
        font-size: 120px;
    }

    .best_products_header{
        margin-left: 47px;
    }

    /* ------------- */

    .red_cake {
        display:none;
    }
    .offers{
        align-items: center;
        margin-left: 80px;
    }
    .product{
        margin-left: 60px;
    }
    .offer_btn{
        margin: 0;
        width: 196px;
        height: 38px;
        font-weight: 800;
        font-size: 18px;
        margin-top: 13px;
        margin-left: 15px;
    }
    .arrow1{
        display: inline;
        position: absolute;
        right: 100px;
        top: 2160px;
        cursor: pointer;
    }

    .arrow2{
        display: inline;
        position: absolute;
        right: 100px;
        top: 2160px;
        cursor: pointer;
    }
    .bullets2{
        margin-left: 380px;
    }
    .cercle_bullet{
        width: 25px;
        height: 25px;
    }
    /* ---------------- */

    .discount {
        text-align: center;
        background-color: #fff;
        width: 600px;
        height: 345px;
        border-radius: 50px;
        border: 1px solid #FFC000;
        box-shadow: 0px 13px 10px #FFE28C;
        padding: 40px 80px 40px 80px;
        margin-left: 200px;
    }
    .wr4{
        background-image: none;
    }
    .wr5{
        background-image: none;
    }
    .wr7{
        background-image: none;
    }

    /* --------------- */

    .address_contacts{
        margin-left: 0px;
    }

    .mailing_btn{
        width: 242px;
        height: 40px;
        font-size: 20px;
        margin: 0;
    }

    /* ---------------- */
    .strawberry2{
        display: inline;
        position: absolute;
        top: 550px;
        left: 30px;
    }
    .lemons2{
        display: inline;
        position: absolute;
        top: 1150px;
        right: 0;
    }
    .lime{
        display: inline;
        position: absolute;
        top: 440px;
        right: 0;
    }
    
}

/* 768-962 */
@media screen and (max-width: 962px) {
    .navbar{
        margin-bottom: 50px;
    }
    .menu-element{
        font-size: 14px;
    }
    .menu{
        width: 300px;
    }
    .offer-img{
        height: 250px;
    }
    .bullets{
        margin-left: 100px;
    }
    .about_company{
        margin: 0;
        font-size: 14px;
        line-height: 18px;
    }
    .post2{
        height: 380px;
    }
    .strawberry2{
        width: 380px;
        height: 220px;
    }
    .lemons2{
        width: 300px;
        height: 250px;
        top: 1100px;
    }

     .card_header {
        font-size: 18px;
        margin-left: 30px;
    }

    .card_inform{
        font-size: 14px;
        line-height: 22px;
        color: #005C13;
        padding-bottom: 10px;
    }

    .card_number {
        font-size: 120px;
    }

    .best_products_header{
        margin-left: 27px;
    }
    .product {
    margin-left: 30px;
}
    .offers{
        align-items: center;
        margin-left: 40px;
    }
    .arrow1{
        right: 0px;
        top: 2050px;
    }

    .arrow2{
        left: 0px;
        top: 2050px;
    }
    .bullets2{
        margin-left: 290px;
    }
    .call_me{
        width: 90%;
    }
    .discount {
        margin-left: 80px;
    }
    
    .wr6{
        background-image: none;
    }
    .address_contacts{
        margin-left: 10px;
        width: 700px;
    }
    .map{   
        margin-right: 30px;
    }
    .h2_5{
        font-size: 30px;
        text-align: left;
    }
    .e-mail_address{
        font-size: 16px;
        letter-spacing: 0;
    }
    .address_geo{
        font-size: 16px;
        line-height: 20px;
    }

    .mailing_header{
        font-size: 18px;
        
    }
    .email_input{
        width: 225px;
    }
    .mailing_btn{
        width: 225px;
        font-size: 18px;
    }
    .footer_telephone{
        display: none;
    }
    .menu-element{
        font-size: 16px;
    }
    .arrow{
        top: 250px;
    }
}

/* 576-768 */
@media screen and (max-width: 768px) {
    body.lock{
        overflow: hidden;
    }
    .logo{
        z-index: 3;
    }
    .navbar{
        margin-bottom: 10px;
    }
    
    .telephone{
        display: none;
    }
   
    .burger{
        z-index: 3;
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        cursor: pointer;
    }
    .burger:before,
    .burger::after{
        content: '';
        background-color: #E12B21;
        position: absolute;
        width: 100%;
        height: 2px;
        transition: all 0.3s ease 0s;
    }
    .burger:before{
        top: 0;
    }
    .burger:after{
        bottom: 0;
    }
    .burger span{
        background-color: #E12B21;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
    }

    .burger.active:before{
        transform: rotate(45deg);
        top: 9px;
    }
    .burger.active:after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .burger.active span{
        transform: scale(0);
        transition: all 0.3s ease 0s;
    }
    .header_menu{
        top: -1000%;
        position: fixed;
        z-index: 2;
        background-color: #FFC000;
        overflow: auto;
        width: 100%;
        padding-bottom: 1200px;
        padding-top: 150px;
        display: block;
    }
    .menu-element{
        text-align: center;
        font-size: 24px;
        margin-bottom: 40px;
    }
    .header_wrap{
        width: 100%; 
    }
    .header_menu.active{
        top: 0%;
        transition: all 0.3s ease 0s;
    }
    /* ----------- */

    .wrap2{
        display: block;
    }
    .post{
        text-align: center;
        margin-bottom: 30px;
    }
    h1{
        margin: 0 auto;
    }
    .first_btn{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .lime{
        display: none;
    }
    .offer{
        margin-top: 40px;
        margin-left: 20px;
        padding-left: 30px;
    }
    .offer_img{
        margin-left: 30px;
    }
    .bullets{
        display: none;
    }
    .arrow{
        top: 450px;
    }
    .strawberry2{
        top: 650px;
        width: 430px;
    }
    .lemons2{
        display: none;
    }
    .ant_hill_cake{
        display: none;
    }
    .honey_cake{
        display: none;
    }
    .bullets2{
        display: none;
    }
    .arrow1{
        top: 2340px ;
    }
    .arrow2{
        top: 2340px;
    }
    .product{
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .discount{
        margin: 0 auto;
        width: 500px;
        padding: 30px;
    }
    .address_contacts{
        width: 540px;
        margin: 0 auto;
        
    }
    .where_we{
        height: 450px;
        width: 230px;
        margin-right: 5px;
        margin-top: 50px;
    }
    .about_company{
        font-size: 16px;
        line-height: 20px;
    }
    .cards{
        display: inline-block;
    }
    .card{
        display: inline;
        width: 180px;
    }
    .card_header{
        font-size: 22px;
    }
    .card_inform{
        font-size: 16px;
    }
    .menu_footer{
        display: none;
    }
}

/* 0-576 */
@media screen and (max-width: 576px) {
    h1{
        font-size: 32px;
    }
    h2{
        font-size: 28px;
    }
    .strawberry2{
        display: none;
    }
    .first{
        padding: 0;
    }
    .third{
        padding-bottom: 60px;
    }
    .offer{
        padding: 0;
        margin-left: 0;
    }
    .offer-img{
        width: 330px;
        height: 200px;
    }
    .arrow{
       
        left:87.5%;
        top: 490px;
    }
    .h2_2{
        margin-left: 29px;
    }
    .card_header{
        font-size: 18px;
    }
    .h2_3{
        margin-bottom: 30px;
    }
    .offers{
        margin: 0;
    }
    .catalog{
        padding-bottom: 30px;
    }
    .arrow1{
        display: none;
    }
    .arrow2{
        display: none;
    }
    .arrow_l{
        display: inline;
        position: absolute;
        left: 0;
        top: 2280px;
        cursor: pointer;
    }
    .arrow_r{
        display: inline;
        position: absolute;
        right: 0;
        top: 2280px;
        cursor: pointer;
    }
    .sale{
        padding: 0;
    }

    .discount{
        width: 330px; 
        margin-top: 30px; 
        margin-bottom: 30px;      
    }
    .discount_text{
        margin: 0 auto;
        font-size: 14px;
        width: 90%;
        margin-bottom: 30px;
    }
    .h2_4{
        line-height: normal;
        margin-bottom: 20px;
    }
    .discount_btn{
        width: 250px;
        font-size: 20px;
    }
    .address_contacts{
        display: block;
        height: 650px;
        padding-top: 15px;
        width: 300px;
    }
    .where_we{
        display: none;
        margin: 0 auto;
        width: 50%;
        height: 50%;
    }
    .address_geo{
        width: 200px;
        font-size: 14px;
    }
    .social_networks{
        margin-right: 0;
        margin-left: 10px;
    }
}