* {
    box-sizing: border-box;
}
h1, h2, h3 {
    font-size: 30 px;
    font-family: 'Montserrat', sans-serif;
}
body {
    margin: 0;
}
/* 1й блок */
.header {
    padding-top: 62px;
    background: rgb(78,190,254);
    background: linear-gradient(135deg, rgba(78,190,254,1) 0%, rgba(63,160,230,1) 50%, rgba(55,143,217,1) 100%);
}

.wrap {
    width: 1170px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 


.h1 {
    color: #fff;
    width: 695px;
    font-size: 37px;
    margin: 0 auto;
}

.dream {
    font-size: 59px;
}
.first_text {
    font-family: 'Open Sans', sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 400px;
    color: #fff;
}

.btn {
    height: 55px;
    width: 220px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: #ffd429;
}

/* 2й блок */
.second_section {
    padding-bottom: 125px;
}
.h2 {
    font-size: 30px;
    text-align: center;
     margin-top: 110px;
    margin-bottom: 80px;  
}

.wrapper2 {
    display: flex;
    justify-content: space-between;
}

h3 {
    margin: 0;
    font-size: 19px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.block {
    max-width: 290px;
    text-align: center;
}

.p1 {
    margin: 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}


/* 3й блок */
.third_section {
    background-color: #ecf3f8;
    padding-top: 100px;
    padding-bottom: 100px;
}

.h2form {
    font-size: 30px;
    margin-top: 0;
    text-align: center;
}

.input_form {
    max-width: 340px;
    margin: 0 auto;
}

.input {
    display: block;
    margin-bottom: 15px;
    width: 100%;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    padding-left: 25px;
}

.btn2 {
    width: 100%;
}

/* 4й блок */
.footer {
    background-color: #164d7a;
    padding-top: 50px;
    padding-bottom: 50px;
}

.last_text {
    font-family:'Open Sans', sans-serif;
    color: #fff;
    text-align: center;
}