* {
  box-sizing: border-box;
}

.logo {
    width: 150px;
}
.h1 {
    color: red;
}

.h2 {
    color: #fff;
    background-color: green;
}

.first_text {
    color: #fff;
    width: 90px;
    margin-bottom: 60px;
    background-color: blue;
}

.first_code {
    color: red;
}

.fiveth_text {
    margin-top: 120px;
}

.second_h2 {
    color: #fff;
    background-color: green;
    padding: 40px 0px 40px 40px;
}
.third_text {
    margin-left: 100px;
}

.list {
    width: 100%;
}

.point {
    border: solid;
    font-size: 20px;
}

